{{ $baseurl := .Site.BaseURL }}
{{ partial "header.html" . }}
<main id="content">

    <h1 class="post-title">Page Not Found.</h1>
    <p>This page does not exist. A couple of options for you:</p>
     <ol>
       <li>Check the URL you entered in the address bar and correct it if necessary.</li>
       <li><a id="tweeterror" href="https://twitter.com/intent/tweet?text=%40{{ .Site.Params.twitter }}%20This%20page%20on%20your%20website%20seems%20to%20be%20missing%3A" target="_blank">Tweet</a> or <a id="mailerror" href="mailto:{{ .Site.Params.email }}?subject=404%20on%20website&body=This%20page%20on%20your%20website%20seems%20to%20be%20missing%3A%20">mail</a> me to let me know this link doesn’t work.</li>
     </ol>
     <p style="text-align: center;">
     </p>

</main>
{{ partial "footer.html" . }}