{{ partial "header.html" . }}
		<main id="content"><h1 class="post-title">Andrewrgoss.com</h1>
{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}

    {{ range $index, $page := .Paginator.Pages }}
        {{ .Render "li" }}
    {{ end }}

    	{{ partial "pagination.html" $paginator }}
<select onChange="window.location.href=this.value">
    <option value="">Select Page</option>
    <option value="/">Page 1</option>
    <option value="/page/2/">Page 2</option>
    <option value="/page/3/">Page 3</option>
    <option value="/page/4/">Page 4</option>
    <option value="/page/5/">Page 5</option>
    <option value="/page/6/">Page 6</option>
    <option value="/page/7/">Page 7</option>
    <option value="/page/8/">Page 8</option>
    <option value="/page/9/">Page 9</option>
    <option value="/page/10/">Page 10</option>
</select>		     
		</main>
   
<script type="application/ld+json">
{ 
    "@context": "http://schema.org",
    "@type": "Blog",
    "url": "{{ .Site.BaseURL }}",
    "about": "{{ .Site.Params.description }}",
    "name": "{{ .Site.Title }}",
    "image": "{{ .Site.BaseURL }}avatar.jpg",
    "headline": "{{ .Title }}",
    "educationalUse": "research",
    "author": {
        {{ template "author-schema.html" . }}
    },
    "dateModified": "{{ .Site.LastChange | dateFormat "Jan 2006" }}",
    "potentialAction": {
    	 "@type": "SearchAction",
    	 "target": "{{ .Site.BaseURL }}search/?q={search_term_string}",
    	 "query-input": "required name=search_term_string"
    }
}
</script>
<hr>
{{ partial "footer.html" . }}