{{ partial "header.html" . }}
<main id="content">
    <h1 class="post-title">Projects</h1>
	<blockquote><p class="custom_blockquote"><sub>Client confidentiality agreements prevent me from showcasing most of my work here. Please reach out for more details if interested.</sub></p></blockquote>
    <br class="custom">
	{{ $paginator := .Paginate (where .Data.Pages "Section" "projects") }} {{ range $index, $page := .Paginator.Pages }} 
    {{ .Render "li" }} {{ end }} {{ partial "pagination.html" $paginator }}
</main>

<script type="application/ld+json">
{ 
    "@context": "http://schema.org",
    "@type": "Blog",
    "url": "{{ .Site.BaseURL }}",
    "about": "{{ .Site.Params.description }}",
    "name": "{{ .Site.Title }}",
    "image": "{{ .Site.BaseURL }}avatar.jpg",
    "headline": "{{ .Title }}",
    "educationalUse": "research",
    "author": {
        {{ template "author-schema.html" . }}
    },
    "dateModified": "{{ .Site.LastChange | dateFormat "Jan 2006" }}",
    "potentialAction": {
    	 "@type": "SearchAction",
    	 "target": "{{ .Site.BaseURL }}search/?q={search_term_string}",
    	 "query-input": "required name=search_term_string"
    }
}
</script>
<hr> 
{{ partial "footer.html" . }}